<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1>Welcome to alanhill.ca</h1>
      <p class="lead">I don't know why the heck you're here</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">I am a button, I do nothing</a></p>
    </div>
  </div>
</div>
