<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body {
        width: 500px;
        padding: 10px;
      }

      h1 {
        height: 18px;
        text-align: center;
        color: slategray;
      }

      .hello {
        text-align: center;
        color: darkgrey;
        padding-top: 15px;
      }

      ol {
        margin: 0 auto;
        color: #ccc;
        list-style-type: none;
      }

      ol li {
        position: relative;
        font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
        margin-bottom: 20px;
      }

      li p {
        font: 12px/1.5 Helvetica, sans-serif;
        padding-left: 60px;
        color: #555;
      }

      span {
        position: absolute;
      }

      p.title {
        text-align: center;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <h1>Good morning!</h1>
    <p class="hello">
      Here's today's list of tasks. <b>Get shit done!</b>
    </p>
    <p>
      <ol>
        <% @to_dos.each do |task| %>
        <li>
          <span><%= task.id %>.</span>
          <p class="title">
            <b><%= task.title.capitalize %></b>
          </p>
          <li>
            <p>
              <%= task.description %>
            </p>
          </li>
          <li>
            <p>
              Due <%= task.due.strftime('%A %b %d at %l:%M%P') %>
            </p>
          </li>
        </li>
        <% end %>
      </ol>
    </p>
  </body>
</html>
